/*!
    XS landing - Multipurpose Extra Small Landing Template
    To use this theme you must have a license purchased at WrapBootstrap (wrapbootstrap.com)
    Copyright 1995-2015 ForBetterWeb.com
 */

* {
    direction: rtl;
}

.col-left {
    left: 0;
    right: auto;
}

@media (min-width: 1170px) {
    .leftline {
        margin-left: 30px;
    }
}

.iconbig {
    float: left;
    margin: -5px 20px 0 0 ;
}

@media (max-width: 991px) {

    body,
    .leftline,
    .leftlineinside,
    .promo {
        text-align: center;
    }

    .intropromo .col-md-6,
    .intropromo .col-sm-6,
    .leftline .col-sm-6 {
        max-width: inherit;
    }

    .iconbig {
        display: block;
        float: none;
    }


}

